
.novelty_wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 1px solid #E5EAFF;
}

.novelty_title_box{
  border-bottom: 1px solid #E5EAFF;
  display: flex;
  justify-content: space-between;
}

.novelty_title_content{
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.novelty_link{
  color:#5271FF;
  border-bottom: 1px solid #5271FF;
  cursor: pointer;  
}

.novelty_slider_nav{
  display: flex;
  column-gap: 43px;
  align-items: center;
}

.dots--mobile,
.dots--small-mobile,
.dots{
  display: flex;
  column-gap: 21px;
  align-items: center;
}


.arrows{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.dot,
.dot--mobile,
.dot--small-mobile{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow--right{
  transform: rotate(180deg);
}

.slider{
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease-out;
}

.slider_item{
  padding: 20px 0;
  flex: 0 0 25%;
  margin-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  overflow: hidden; /* Скрыть части изображения, выходящие за пределы блока */
  position: relative; /* Устанавливаем позиционирование */
  height: 537px; /* Высота блока */
  width: 100%; /* Ширина блока */
}

.slider div img {
  object-fit: cover;
  /* width: 322px; */
  /* height: 537px; */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute; /* Абсолютное позиционирование для картинки */
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  width: 100%; /* Ширина изображения 100% от родительского элемента */
  height: 100%; /* Высота изображения 100% от родительского элемента */
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
  transform: translate(-50%, -50%); /* Центрируем изображение */
  transition: transform 0.3s ease; /* Плавный переход */
}

.novelty_slider_nav--mobile{
  display: none;
}

.slider_item:hover .slider_item_photo {
  transform: translate(-50%, -50%) scale(1.05); /* Увеличиваем изображение при наведении */
}

@media(max-width:814px) {
  .title{
    font-size: 1.5rem;
  }

  .novelty_link{
    font-size: 0.9rem;
  }
}

@media(max-width:720px){
  .slider div img {
    width: 232px;
    height: 385px;
  }

  .slider_item{
    padding: 10px 0;
    flex: 0 0 33%;
    margin-left: 5px;
  }
}

@media(max-width:450px) {
  .novelty_link{
    font-size: 0.7rem;
  }
}

@media(max-width:525px){
  .novelty_slider_nav{
    display: none;
  }

  .novelty_slider_nav--mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 10px;
  }

  .novelty_title_content{
    width: 100%;
    justify-content: space-between;
  }

  .dot--mobile{
    cursor: pointer;
    user-select: none;
  }

}

@media(max-width:400px) {
  .slider div img {
    width: 139px;
    height: 245px;
  }

  .slider_item{
    padding: 5px 0;
    flex: 0 0 50%;
    margin-left: 3px;
  }
}